.el-dialog__body {
  padding: 10px 20px 20px;
}
.el-dialog__title {
  font-weight: bold;
}

.el-header {
  padding: 0 !important;
}
.el-row {
  padding: 20px;
  margin-bottom: 20px;
}
.el-menu.el-menu--horizontal {
  border-bottom: 0 !important;
}
